:root {
	--height_default: 30px;
}

.trigger {
	font-size: 18px;
	line-height: 64px;
	cursor: pointer;
	transition: color 0.3s;
}

.trigger:hover {
	color: #1890ff;
}

.user-header {
	background-color: #fff !important;
	display: flex;
	flex-direction: row;
	height: var(--height_default) !important;
	margin: auto;
}

.user-header__left-items {
	display: flex;
	align-items: center;
	min-width: 5%;
}
.user-header__right-items {
	display: flex;
	align-items: center;
	min-width: 95%;
	position: relative;
}

.right-items__window-actions {
	position: absolute;
	right: 0;
	background-color: red;
}

.windows-actions-item:hover {
	background-color: #c7cacc !important;
}

.prevent-selected {
	user-select: none;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
}

.draggable {
	-webkit-app-region: drag;
}
